@import url("normalize.min.css");
@import url("pygment.css");
@import url("print.css");

body {
    font: 16px/24px 'PT Serif', serif;
    margin: auto;
    background-color: #035;
    color: #fafafa;
}

.header-container, .footer-container {
    font: 16px/24px 'PT Sans Narrow', sans-serif;

}

.main-container {
    background-color: #fafafa;
    color: #035;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.highlight pre, code {
    background-color: #f0f0f0;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 0.8em;
}

code {
    padding: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.wrapper {
    max-width: 35em;
    margin: auto;
}

article {
    line-height: 1.6;
    margin-bottom: 4em;
}

article header abbr, p small {
    white-space: nowrap;
    float: right;
}

.title {
    text-align: center;
    font-weight: normal;
}

.header-container {
        padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #257;
    border-bottom: 1px dotted #257;
}
a:hover {
    color: #257;
    background-color: white;
}
a:visited {
    color: #035;
}

.header-container a,
.footer-container a {
    color: #fafafa;
    border-bottom: none;
}
.header-container a:hover,
.footer-container a:hover {
    color: #fafafa;
    background-color: transparent;
    border-bottom: 4px solid #368;
}
.header-container a:visited,
.footer-container a:visited {
    color: #fafafa;
}

.main {
    padding: 20px;
}

.main h1, h2, h3, h4 {
    font-size: 1.15em;
    font-weight: 100;
    font-family: 'PT Sans Narrow', serif;
}

.main header {
    margin-bottom: 1em;
}

.footer-container footer {
    padding: 20px 0;
}

.social i {
    font-size: 150%;
}

nav ul, .social ul {
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: center;
    list-style: none;
    vertical-align: middle;
}

nav ul li, .social ul li {
    margin:auto;
    display: inline;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    vertical-align: middle;
}

nav form {
    display: inline-block;
}

/*article header {
    text-align: center;
}*/

.main-container h1, h2, h3 {
    margin: 0;
}

.main-container p {
    margin-top: 0;
}

nav form .search {
    /*padding: .3em .5em .3em .3em;*/
    font-size: .75em;
    line-height: 1,4;
    border-radius: 0.5em;
    border: 1px solid #479;
    background-color: #035;
    color: #fafafa;
    font-family: 'PT Serif', serif;
    text-align: center;

}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
